
.about-us .title{text-transform: capitalize; font-size: 18px; font-weight: 500; color: #363636; border-left: 4px solid #363636; padding-left: 5px; margin-bottom: 40px;}
.about-us .section-about{background: #fff}
.about-us .section-about .banner{padding-top: 40px; margin-bottom: 30px;}
.about-us .section-about .banner img{width: 100%}
.about-us .section-about  p{color: #949494;line-height: 1.4; font-weight: 400;font-size: 15px;}
.about-us .section-about  strong{color: #363636;font-size: 16px;}
.about-us .section-about .mission{padding-bottom: 65px;}
.about-us .section-about .mission{font-size: 22px; font-weight: 500; color: #363636;}
.about-us .facilities{padding-bottom: 80px;}
.about-us .sub_header{font-size: 26px; color: #363636; font-weight: 500; padding-top: 80px; margin-bottom: 48px;} 
.about-us .facilities h4{font-size: 22px; color: #363636;}
.about-us .facilities p{font-size: 18px; color: #949494; line-height: 26px; width: 80%;}
.about-us .offering{background: #fff;padding-bottom: 66px;}
.about-us .offering .img-container{height: 97px; display: inline-flex; align-items: center; margin-bottom: 14px;}
.about-us .offering  p{font-size: 18px; color: #363636; font-weight: 600;}