.faq .title{text-transform:capitalize;font-size:18px;font-weight:500;color:#363636;border-left:4px solid #363636;padding-left:5px;margin-bottom:40px}
.faq .faq-tabs{display:flex;justify-content:center;align-items:center;margin-bottom:25px}
.faq .faq-tabs li{border-radius:24px;background-color:#fff;box-shadow:0 2px 10px 0 rgba(0,0,0,0.07);text-transform:capitalize;font-size:16px;color:#424242;min-width:143px;padding:8px 0;text-align:center}
.faq .faq-tabs li.active{background-color:#3c91e0}
.faq .faq-tabs li.active a{color:#fff}
.faq .faq-tabs li + li{margin-left:10px}
.faq .faq-card{position:relative;border-radius:8px;background-color:#fff;box-shadow:0 2px 10px 0 rgba(0,0,0,0.07);overflow:hidden;padding:20px;margin-bottom:20px}
.faq .faq-card .faq-card-title{font-size:16px;font-weight:600;color:#56666f;display:block;cursor:pointer}
.faq .faq-card .answer{background-color:rgba(78,161,226,0.06);padding:20px;margin-top:20px;display:none}
.faq .faq-card input#abroad:checked + .answer{display:block}
.faq .faq-card input#confirmed:checked + .answer{display:block}
.faq .faq-card input#booking-through:checked + .answer{display:block}
.faq .faq-card .answer p{font-size:14px;color:#56666f;line-height:20px;margin-bottom:0}